.choose-your-team {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 3em;
  line-height: 100%;
  letter-spacing: -0.02em;
  width: 2.5em;
  margin-top: 1.25em;
  width: 15%;
}
